<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>小纸条</title>


    <script type="text/javascript" src="/jslib/jquery/jquery-2.2.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/jslib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/jslib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="max-width: 765px; margin-left: auto; margin-right: auto">
        <div id="div_title">
            <h1> 小纸条 </h1>
            <hr style="width: 90%; margin-left: 10%">
        </div>

        <div id="images" align="center">
{#            <img src="/media/image/lover_1200_675/0001.jpg" alt="lover" class="img-thumbnail">#}
        </div>

        <div id="form_body">

        <p style="padding: 0 20px 0 20px">温馨提示: 你将会发送一份类似于下面形式的页面给对方，说出难以说亲口说出的话吧</p>

        <div id='div_form' style="width: 94%; margin-left: 3%">
            <div style="margin: 20px 0 0 0">
                <label for="sender_nick_name"> 你的昵称 </label>
                <div >
                    <input id="sender_nick_name" type="text" class="form-control" placeholder="输入你的昵称 ≧▽≦ ">
                </div>
            </div>

            <div style="margin: 20px 0 0 0">
                <label for="receiver_nick_name"> TA 的昵称 </label>
                <div >
                    <input id="receiver_nick_name" type="text" class="form-control" placeholder="输入她的昵称 ≧▽≦ ">
                </div>
            </div>

            <div style="margin: 20px 0 0 0">
                <label for="sender_says"> 小纸条 </label>
                <div >
                    <textarea id="sender_says" class="form-control" placeholder="在这里写下想对 TA 说的话" rows="5"> </textarea>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 20px" onclick="submit_form(this)"> 飞到 TA 身边 </button>

        </div>
        </div>

        <div style="margin-bottom: 30px"></div>

    </div>

<script>
    this_url = window.location.href;
    receiver_url = this_url + '?f=true' + '&role=' + 'receiver';
    url_submit_from = 'sender_do_submit/';
    $id_take_show = $('#div_take_show');
    // $id_take_show.hide();

    values = {{ values | safe }};
    values['receiver_url'] = receiver_url;

    load_images(values['pic_name']);

    function submit_form(elem){
        var field_list = ['sender_nick_name', 'receiver_nick_name', 'sender_says'];
        var post_data = {};

        for (var field in values){
            if (values.hasOwnProperty(field))
                post_data[field] = values[field];
        }

        for (var i = 0; i < field_list.length; i ++){
            field = field_list[i];
            post_data[field] = document.getElementById(field).value;
        }

        $.ajax({
            url: url_submit_from,
            type: "POST",
            data: post_data,
            success: function(data){
                //alert(data);
                var resp = JSON.parse(data);
                if (resp.status == 'error'){
                    when_submit_fail(resp.msg)
                }else{
                    when_submit_success(resp);
                }
            }
        })
    }

    function load_images(pic_name){
        var $images = $('#images');
        $images.empty();
        $images.append('<img style="width: 100%" src="/media/image/lover_1200_675/' + pic_name +'" alt="lover" class="img-thumbnail">');
    }

    function when_submit_success(resp){
        var qrcode_url = resp['qrcode_url'];
        var $form_body = $('#form_body');
        var $images = $('#images');
        console.log('receiver_url: ' + resp['receiver_url']);
        $form_body.hide(500);
        $images.empty();
        $images.append('<img style="width: 92%; " class="img-rounded" src="'+qrcode_url+'"></img>');
        $images.append('<h4 style="margin: 6px 0 0 20px" align="left"> 提交成功<br><br>[ 如何让 TA 知道 ]<br>方法一. 将二维码发送给TA...<br>方法二. 建设中<br><br>另外, 小康君的订阅号无法主动推消息给你, 你需要主动给Alice发一条任意消息来查看是否有回复 </h4>');
    }

    function when_submit_fail(msg){
        var $div_form = $('#div_form');
        $div_form.hide(200);
        load_images('0003.jpg');
        var $images = $('#images');
        $images.append('<h4 style="margin-top: 6px" align="center"> '+msg+'</h4>');
    }

</script>

</body>


<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500054876" ></script>
</html>

