<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>纸飞机</title>
    <link rel="stylesheet" type="text/css" href="/jslib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/jslib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="max-width: 1024px; margin-left: auto; margin-right: auto">
        <div id="div_title">
            <h1> 你觉得宝宝爱你吗 </h1>
            <hr style="width: 90%; margin-left: 10%">
        </div>
        <div id="images">
            <img src="/media/image/lover_1200_675/0001.jpg" alt="lover" class="img-thumbnail">
        </div>
        <div role="form">
            <label for="how_much_love" > 😍的程度</label>
            <div >
                <input id="how_much_love" type="password" class="form-control" placeholder="来点甜言蜜语吧 ~ ">
            </div>
        </div>
    </div>

</body>


<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500017780"></script>
</html>

