<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>纸飞机</title>


    <script type="text/javascript" src="/jslib/jquery/jquery-2.2.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/jslib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/jslib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="max-width: 765px; margin-left: auto; margin-right: auto">
        <div id="div_title">
            <h1 id="h_title"> ~ 爱我就大声说出来 </h1>
            <hr style="width: 90%; margin-left: 10%">
        </div>
        <div id="images" align="center">
{#            <img src="/media/image/lover_1200_675/0001.jpg" alt="lover" class="img-thumbnail">#}
        </div>

        <div id='div_form' style="width: 94%; margin-left: 3%">

            <div style="margin: 20px 0 0 0">
                <span for="how_much_love"> 😍 的程度</span>
                <div >
                    <input id="how_much_love" type="text" class="form-control" placeholder="来点甜言蜜语吧 ~">
                </div>
            </div>

            <div style="margin: 20px 0 0 0">
                <label for="when_begin_love"> 从什么时候开始滴 </label>
                <div >
                    <input id="when_begin_love" type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div style="margin: 20px 0 0 0">
                <label for="want_to_say" > 你想对我说什么</label>
                <div >
                    <textarea id="want_to_say"  class="form-control"> </textarea>
                </div>
            </div>

            <div id="div_take_show" style="margin: 20px 0 0 0">
                <label for="take_show" > 是时候表现一下啦 </label>
                <hr width="100%" style="padding: 0; margin: 0">
                <div >
                    <span id="take_show" style="padding-left: 30px;"> 最近好多东西要买哦~ </span>
                </div>
            </div>

            <div id="div_take_show" style="margin: 30px 0 0 0">
                <label id="extra_0_question" for="extra_0_answer" > 一个额外的问题 </label>
                <div>
                    <textarea id="extra_0_answer" type="text" class="form-control" placeholder=""> </textarea>
                </div>
            </div>

            <button id="button_submit" type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 20px" onclick="submit_form(this)"> 飞回 TA 身边 </button>

        </div>

        <div style="margin-bottom: 30px"></div>

    </div>

<script>
    this_url = window.location.href;
    url_submit_from = 'receiver_do_submit/';

    values = {{ values | safe }};

    console.log(JSON.stringify(values));

    load_images(values['pic_name']);

    function load_sender_info(){
        $('#h_title').html('你爱 ' + values['nick_name'] + '吗?');
        $('#take_show').text(values['take_show']);
        $('#extra_0_question').html(values['extra_0_question']);
        $('#button_submit').html('飞回 ' + values['nick_name'] +' 身边');
    }


    function submit_form(elem){
        var field_list = ['how_much_love', 'when_begin_love', 'want_to_say', 'extra_0_question', 'extra_0_answer'];
        var post_data = {};

        for (var field in values){
            if (values.hasOwnProperty(field))
                post_data[field] = values[field];
        }

        for (var i = 0; i <  field_list.length; i ++){
            field = field_list[i];
            post_data[field] = document.getElementById(field).value;
        }

        $.ajax({
            url: url_submit_from,
            type: "POST",
            data: post_data,
            success: function(data){
                //alert(data);
                var resp = JSON.parse(data);
                if (resp.status == 'error'){
                    when_submit_fail(resp.msg)
                }else{
                    when_submit_success(resp);
                }
            }
        })
    }


    function load_images(pic_name){
        var $images = $('#images');
        $images.empty();
        $images.append('<img style="width: 100%" src="/media/image/lover_1200_675/' + pic_name +'" alt="lover" class="img-thumbnail">');
    }

    function when_submit_success(resp){
        var $div_form = $('#div_form');
        $div_form.hide(500);
        load_images('0003.jpg');
        var $images = $('#images');
        $images.append('<h4 align="center" style="margin: 60px 0 0 20px" align="left"> ' + resp.msg + ' </h4>');
    }

    function when_submit_fail(msg){
        var $div_form = $('#div_form');
        $div_form.hide(200);
        load_images('0003.jpg');
        var $images = $('#images');
        $images.append('<h4 style="margin-top: 6px" align="center"> '+msg+'</h4>');
    }

    load_sender_info();

</script>

</body>


<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500054876" ></script>
</html>

