<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>纸飞机</title>


    <script type="text/javascript" src="/jslib/jquery/jquery-2.2.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/jslib/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/jslib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="max-width: 1024px; margin-left: auto; margin-right: auto">
        <div id="div_title">
            <h1> 你觉得宝宝爱你吗 </h1>
            <hr style="width: 90%; margin-left: 10%">
        </div>
        <div id="images">
{#            <img src="/media/image/lover_1200_675/0001.jpg" alt="lover" class="img-thumbnail">#}
        </div>

        <div style="width: 94%; margin-left: 3%">
            <div style="margin: 20px 0 0 0">
                <span for="how_much_love"> 😍 的程度</span>
                <div >
                    <input id="how_much_love" type="text" class="form-control" placeholder="来点甜言蜜语吧 ~ ">
                </div>
            </div>

            <div style="margin: 20px 0 0 0">
                <label for="when_begin_love"> 从什么时候开始滴 </label>
                <div >
                    <input id="when_begin_love" type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div style="margin: 20px 0 0 0">
                <label for="want_to_say" > 你想对我说什么 </label>
                <div >
                    <textarea id="want_to_say"  class="form-control" placeholder=""> </textarea>
                </div>
            </div>

            <div id="div_take_show" style="margin: 20px 0 0 0">
                <label for="take_show" > 是时候表现一下啦 </label>
                <div >
                    <span id="take_show"  class="form-control"> 是到了你表现的时候啦, 戳链接哈: <a target="_blank" href="https://nvzhuang.tmall.com/?spm=875.7931836.2016010.1.eLaqtl&acm=lb-zebra-148799-667863.1003.8.708026&scm=1003.8.lb-zebra-148799-667863.ITEM_14561681423980_708026"> 点这里 </a>  </span>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top: 20px" onclick="submit_form(this)"> 飞回去 </button>

        </div>

        <div style="margin-bottom: 30px"><div>


    </div>

<script>
    url_submit_from = 'do_submit/';
    $id_take_show = $('#div_take_show');
    // $id_take_show.hide();

    values = {{ values | safe }};
    extra_source_id = values['extra_source_id'];
    pic_name = values['pic_name'];
    t_id = values['t_id'];

    load_images(pic_name);

    function submit_form(elem){
        var how_much_love = document.getElementById('how_much_love').value;
        var when_begin_love = document.getElementById('when_begin_love').value;
        var want_to_say = document.getElementById('want_to_say').value;

        $.ajax({
            url: url_submit_from,
            type: "POST",
            data: {
                'how_much_love': how_much_love,
                'when_begin_love': when_begin_love,
                'want_to_say': want_to_say,
                'extra_source_id': extra_source_id,
                'pic_name': pic_name,
                't_id': t_id
            },
            success: function(data){
                //alert(data);
                var resp = JSON.parse(data);
                if (resp.status == 'error'){
                    alert(resp.msg)
                }
            }
        })
    }

    function load_images(pic_name){
        var $images = $('#images');
        $images.empty();
        $images.append('<img src="/media/image/lover_1200_675/' + pic_name +'" alt="lover" class="img-thumbnail">');
    }

</script>

</body>


<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500017780"></script>
</html>

