<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style media="screen">
        label{
            width: 6em;
            display: inline-block;

        }
        div{
            margin-bottom:  1em;
        }

        </style>
        <title>宝宝</title>
    </head>
    <body>
        <h1>你觉得宝宝<mark>爱</mark>你吗？</h1>
        <hr>
        <form class="" action="index.html" method="post">

            <div class="">
                <label for="I">用户名</label>
                <input type="text" name="name" value=""placeholder="请输入用户名"maxlength="12">

            </div>
            <br>
            <div class="">
                <label for="I">到baobao心里的密码</label>
                <input type="password" name="name" value=""placeholder="请输入密码"maxlength="12">

                <input type="button" name="name" value="登录"maxlength="6">
                <br>
                <br>
                <div class="">
                    <label for="">记住密码</label>
                    <input type="checkbox" checked>
                </div>
                <div class="">
                    <label for="">选择性别</label>
                    <input type="radio" name="gender" value="male">男
                    <input type="radio" name="gender" value="famale">女
                    <input type="radio" name="gender" value="secret" checked>保密

                </div>
                <div class="">
                    <label for="">😘的程度</label>
                    <input list="job" name="job" >
                    <datalist id="job">
                        <option value="很爱很爱">％200</option>
                        <option value="爱">100％</option>
                        <option value="好想你">％70</option>
                        <option value="不爱你">0%</option>
                    </datalist>

                </div>
                <div class="">
                    <label for="">从什么时候开始 </label>
                    <input type="date" name="name" value="">
                </div>
                <div class="">
                    <label for="">时间</label>
                    <input type="time" name="name" value="">

                </div>
                <div class="">
                    <label for="">你想对我说什么 </label>
                    <textarea name="name" rows="4" cols="40"></textarea>
                    <div class="">
                     爱我就点开它<a href="http://www.taobao.com"> 爱你爱你呦</a>
                    </div>

                </div>
                <div class="">
                    <label for=""></label>
                    <input type="submit"  value="提交">
                    <input type="reset"  value="重置">

                </div>


        </form>


    </body>

<script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500054876" ></script>
</html>

