<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website that gather music information to one page.">
    <meta name="author" content="Lin & Materkang">

    <title>音海</title>

    <link href="/res/css/one-page-wonder.css" rel="stylesheet">
    <link href="/res/css/loading/loaders.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="/jslib/bootstrap-3.3.5-dist/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="the_body">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background: black">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-music_rss-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">音海</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-music_rss-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a>登陆</a>
                    </li>
                    <li>
                        <a>喜爱</a>
                    </li>
                    <li>
                        <a>浏览历史</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h3 align="left" style="">| 与我私奔还与我做不二臣<br/>| 夸我含苞待放还夸我欲盖弥彰</h3>
                <h4>陈粒——《易燃易爆炸》</h4>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div id="item_container">
            <div id="item_template" style="padding: 0; margin: 0; border: 0">
                <div class="featurette">
                    <img class="item-img featurette-image img-rounded img-responsive" style="cursor:pointer;" src="http://placehold.it/500x500" onclick="handle_item_click(this)">
                    <h2 class="item-title featurette-heading" style="cursor:pointer;" onclick="handle_item_click(this)">The Third Heading</h2>
                    <p class="item-desc lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <hr class="featurette-divider">
            </div>
        </div>

        <div id="div_loading">
            <div class="loader" align="center"  style="margin:0 auto; padding: 100px 0 200px 0; width: 1%">
                <div class="loader-inner ball-scale-multiple" >
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row" align="center">
                <div class="col-lg-12">
                    <p>Copyright &copy; Music-Sea 2016 <br/> By: Lin & MasterKang</p>
                </div>
            </div>
        </footer>

    </div>

    <script type="text/javascript" src="/jslib/jquery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/jslib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
</body>

<script>
    var url_get_more = "get_more/";
    var $item_template = $("#item_template");
    var $item_container = $("#item_container");
    var min_update_time = null;
    var last_query_time = null;
    var refresh_limit_sec = 3;
    var at_the_end_flag = false;

    var JUMP_NEW_LABEL = false;

    var item_index = 0;

    function append_item(page_url, title, desc, cover_url){
        var $new_item = $item_template.clone();
        if (item_index % 2 == 0){
            $new_item.find(".item-img").addClass("pull-right").attr("src", cover_url);
        } else {
            $new_item.find(".item-img").addClass("pull-left").attr("src", cover_url);
        }
        $new_item.find(".item-title").empty().append(title);
        $new_item.find(".item-desc").empty().append(desc);
        $new_item.find(".item-title").attr("data-page_url", page_url);
        $new_item.find(".item-img").attr("data-page_url", page_url);
        $new_item.attr('id', 'item_'+item_index);
        $item_container.append($new_item);
        $new_item.show();
        item_index += 1;
    }

    function handle_item_click(elem){
        var page_url = elem.getAttribute("data-page_url");
        if (JUMP_NEW_LABEL)
            window.open(page_url);
        else
            window.location.href = page_url;
    }

    function handle_get_more(){
        var now = Date.now();
        if (at_the_end_flag == true || (last_query_time != null && now - last_query_time < refresh_limit_sec * 1000)){
            console.log("refresh ignore ~");
            return ;
        }


        var post_data = {'update_time_str': min_update_time};
        $.ajax({
            url: url_get_more,
            type: "POST",
            data: post_data,
            success: function(data){
                console.log(data);
                var resp = JSON.parse(data);
                if (resp.status == 'error'){
                    when_get_more_error(resp['msg']);
                }else{
                    when_get_more_success(resp['item_list'])
                }
            }
        });
        last_query_time = now;
    }

    function when_get_more_success(item_list){
        if (item_list.length == 0){
            handle_at_the_end();
            at_the_end_flag = true;
            return ;
        }
        for (var i = 0; i < item_list.length; i ++){
            var t = item_list[i];
            var time = t['update_time_str'];
            min_update_time = (min_update_time == null || min_update_time > time) ? time : min_update_time;
            console.log(time);
            append_item(t['page_url'], t['title'],  t['desc'],  t['cover_url']);
        }
    }

    function when_get_more_error(msg){
        alert(msg);
    }


    function handle_mousewheel(){
        var scrollTop = document.getElementsByTagName("body")[0].scrollTop;
        var scrollHeight = document.getElementsByTagName("body")[0].scrollHeight;
        var offset = scrollHeight - scrollTop - $(window).height();
        if (offset < $(window).height() / 3){
            console.log('handle_get_more');
            handle_get_more();
        }

    }

    function handle_at_the_end(){
        var $div_loading = $("#div_loading");
        $div_loading.empty().append('<img src="/media/image/icon/at_the_end.jpg" class="img-rounded img-responsive">');
    }


    function get_device(){
        var device = "pc";
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            device = "mobile";
        }
        return device;
    }


    function init_for_device(){
        var device = get_device();
        if (device ==  "mobile"){
            console.log('device: '+device);
            setInterval(handle_mousewheel, 1000);
        }
    }

    //var mousewheel_countor = 0;
    //var $body = $("body");
    //$body.bind("mousewheel", function(){
    //    mousewheel_countor += 1;
    //    if (mousewheel_countor % 50 == 0){
    //        handle_mousewheel();
    //    }
    //});

    setInterval(handle_mousewheel, 1000);

    handle_get_more();

    $item_template.hide();

</script>

</html>
